@import "variables";

//Configuração dos botões gerais
.btn-general {
  cursor: pointer;
  font-size: 1.0625rem;
  width: 11.25rem;
  height: 40px;
  border-radius: 0.625rem;
  padding: 10px 12px;
  border: none;
  font-family: $font-secondary;
  color: $color-white;
  text-align: center;
  &:hover {
    background-color: $color-saturday;

  }
}

//Configuração dos botões "salvar"
.btn-salvar {
  background-color: $color-add;
  &:hover {
    background-color: darken($color-add, $amount: 20);
    transition: 0.5s;
  }
  &-task {
    width: 222px;
    height: 44px;
    width: 13.875rem;
  }
}

//Configuração dos botões "excluir"
.btn-excluir {
  background-color: $color-delete;
  &:hover {
    background-color: darken($color-delete, $amount: 20);
    transition: 0.5s;
  }
  &-task {
    width: 180px;
    height: 44px;
   
  }
}
