@import"variables";

@mixin button-week-day ($color-button-week) {
  border: none;
  height: 40px;
  background-color: $color-button-week ;
  color: $color-white;
  font-family: $font-principal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.5rem 2.5rem;
  

  &:hover {
    background-color: darken($color-button-week, 25%);
    height: 70px; //Mesma altura de quando o dia está selecionado.    
    transition: .5s;

  }
}

@mixin box-time ($background-color) {
  background-color: $background-color;
  height: 135px;
  font-family: $font-secondary;
  font-weight: 400;

  border-radius: 10px;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    color: $color-date-time-task;
    font-size: 20px;
  }

}

//Mixin para a estilização das tasks
@mixin custom-task ($color-week-day) {
  background: $linear-gradient-task;
  backdrop-filter: blur(10.5px);  
  box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.02);
  border: 1px solid $color-white;
  border-radius: 15px;

  width: 700px;
  height: 135px; //Altura variável?
  display: flex;
  justify-content: space-between;

  &::before {
    content: '';
    width: 20px;
    height: 100%;
    background-color: $color-week-day;
    border-radius: 15px 0px 0px 15px;
  }

  p {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: $font-secondary;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    width: 80%;
  }

  button {
    margin-top: .5rem;
    margin-right: .4rem;
    font-family: $font-secondary;
    color: $color-white;
    background-color: $color-delete-secondary;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border-radius: 4px;
    border: none;
    width: 65px;
    height: 30px;

    &:hover {
      background-color: darken($color-delete-secondary, $amount: 10%);
      transition: .5s;
    }

  }
}