@import "variables";

//Configuração das scrollbars.

::-webkit-scrollbar {
  width: 15px;
  border-radius: 22px;

}

::-webkit-scrollbar-track {
  background-color: $color-white;
  border-radius: 10px;
  margin-block: .5em;

  &:hover {
    background-color: darken($color-white, $amount: 5);
  }
}

::-webkit-scrollbar-thumb {
  background: $color-scroll;
  border-radius: 8px;

  &:hover {
    background-color: darken($color-scroll, $amount: 1);
    background: darkgray;

  }

}

.task-time-container {
  ul {
    &::-webkit-scrollbar {
      width: 7.5px;
      
    }
    &::-webkit-scrollbar-track {
      margin-block:0 ;
    }
    
    
  }
}