//Fontes
$font-principal:  'Poppins', sans-serif;
$font-secondary: 'Nunito', sans-serif;

//Cores gerais
$color-white: #FFFFFF;
$color-wed: #6688FF;
$color-monday: #FFA246;
$color-tues: #35E185;
$color-thurs: #B266FF;
$color-friday: #66D1FF;
$color-saturday: #FF66D4;
$color-sunday: #FF6666;

//Cores especiais
$color-add: #2CBE82;
$color-delete: #DA2B40;
$color-date-time: #3B3E45;
$color-delete-secondary: #98031E;
$color-conflict-task: #F55D5D;
$color-conflict-arrow: #FF6D6D;
$color-scroll: #DCDFE3;