@import "reset"; // Reset das configurações do browser.
@import "variables"; //Todas as variáveis presentes.
@import "scrollbars"; //Scrollbars customizadas.
@import "noselect"; // Noselect geral de algumas partes do código.

//Estilização geral.
body {
    background-color: $color-background;
    font-family: $font-principal;
    font-size: .875rem;
    font-weight: 700;
    &::-webkit-scrollbar {
        display: none;
      }
}


