@import "variables";
@import "inputsDropdowns";



.main-container {
  margin: 0rem 2rem; 



  &-content {
    // position: absolute;
    // margin: 5rem;
    padding: 3rem 1.25rem 0rem;
  }



  .task-setters {
    margin-top: 0rem;
    padding: 0 5rem;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;


    &-btns {
      width: 600px;
      display: flex;
      justify-content: space-around
    }
  }

  .task-dropdown-dia-semana {
    position: relative;
    display: inline-block;
  }

  .dropdown-content-dia-semana {
    display: none;
    position: absolute;
    top: 36px;

    z-index: 1;
    list-style: none;

//     &.show {
// display: block;
//     }

    li {
      width: 210px;
      background-color: $color-tues;

      padding: 15px;
      cursor: pointer;

      border: 1px solid $color-date-time-task;

      border-top: none;
      border-bottom: none;

      color: $color-date-time-task;
      font-family: $font-secondary;

      &:hover {
        background-color: $color-date-time-task;
        color: $color-tues;
        transition: 0.5s;
      }

      
    }

    .dropdown-dia-semana-item-domingo {
      border-bottom: 2px solid $color-date-time-task;
    }
  }

  .task-time-container {
    position: relative;
    display: inline-block;

    ul {
      display: none;
      position: absolute;
      top: 36px;
      left: 0;
      right: 0;
      border-left: solid 1px $color-date-time-task;
      border-bottom: solid 2px $color-date-time-task;

      // Scroll no dropdown por ser muitolongo.
      background-color: $color-tues;
      height: 350px;
      overflow-y: scroll;
      overflow-x: hidden;

      li {
        font-family: $font-secondary;
        color: $color-date-time-task;
        cursor: pointer;
        text-align: center;
        width: 90px;
        padding: .8rem;
        
        

        &:hover {
          color: $color-tues;
          background-color: $color-date-time-task;
          transition: 0.5s;
        }

      }
    }
  }

}